# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Cache Loader
.cache-loader

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm
.floo
.flooignore

# Optional REPL history
.node_repl_history

*.env

yarn.lock

# hidden files
.DS_Store

.vscode
db/mysql